<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sum of a and b</title>
    </head>
    <body>
        <div>
            <h1>{{ message }}</h1>
            <h1>{{ sum }}</h1>
        </div>
    </body>
</html>
